<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application/atom+xml</key><string>atom</string>
	<key>application/java-archive</key><string>jar</string>
	<key>application/mathml+xml</key><string>mathml</string>
	<key>application/mbox</key><string>mbox</string>
	<key>application/msword</key><string>doc</string>
	<key>application/octet-stream</key><string></string>
	<key>application/ogg</key><string>ogg</string>
	<key>application/pdf</key><string>pdf</string>
	<key>application/pgp-encrypted</key><string>pgp</string>
	<key>application/pgp-signature</key><string>sig</string>
	<key>application/postscript</key><string>eps</string>
	<key>application/rdf+xml</key><string>rdf</string>
	<key>application/rss+xml</key><string>rss</string>
	<key>application/rtf</key><string>rtf</string>
	<key>application/vnd.ms-cab-compressed</key><string>cab</string>
	<key>application/vnd.ms-excel</key><string>xls</string>
	<key>application/vnd.ms-htmlhelp</key><string>chm</string>
	<key>application/vnd.ms-powerpoint</key><string>ppt</string>
	<key>application/vnd.oasis.opendocument.presentation</key><string>odp</string>
	<key>application/vnd.oasis.opendocument.spreadsheet</key><string>ods</string>
	<key>application/vnd.oasis.opendocument.text</key><string>odt</string>
	<key>application/wsdl+xml</key><string>wsdl</string>
	<key>application/x-bittorrent</key><string>torrent</string>
	<key>application/x-bzip-compressed-tar</key><string>tbz</string>
	<key>application/x-bzip2</key><string>bz2</string>
	<key>application/x-debian-package</key><string>deb</string>
	<key>application/x-dvi</key><string>dvi</string>
	<key>application/x-gzip</key><string>gz</string>
	<key>application/x-java-jnlp-file</key><string>jnlp</string>
	<key>application/x-msdownload</key><string></string>
	<key>application/x-rar-compressed</key><string>rar</string>
	<key>application/x-redhat-package-manager</key><string>rpm</string>
	<key>application/x-sh</key><string>sh</string>
	<key>application/x-shockwave-flash</key><string>swf</string>
	<key>application/x-tar</key><string>tar</string>
	<key>application/x-tcl</key><string>tcl</string>
	<key>application/x-tex</key><string>tex</string>
	<key>application/x-texinfo</key><string>texi</string>
	<key>application/x-x509-ca-cert</key><string>crt</string>
	<key>application/xhtml+xml</key><string>xhtml</string>
	<key>application/xml-dtd</key><string>dtd</string>
	<key>application/xml</key><string>xml</string>
	<key>application/xslt+xml</key><string>xslt</string>
	<key>application/zip</key><string>zip</string>
	<key>audio/basic</key><string>au</string>
	<key>audio/midi</key><string>midi</string>
	<key>audio/mpeg</key><string>mp3</string>
	<key>audio/x-aiff</key><string>aif</string>
	<key>audio/x-mpegurl</key><string>m3u</string>
	<key>audio/x-ms-wma</key><string>wma</string>
	<key>audio/x-pn-realaudio</key><string>ram</string>
	<key>audio/x-wav</key><string>wav</string>
	<key>image/bmp</key><string>bmp</string>
	<key>image/gif</key><string>gif</string>
	<key>image/jpeg</key><string>jpg</string>
	<key>image/png</key><string>png</string>
	<key>image/svg+xml</key><string>svg</string>
	<key>image/tiff</key><string>tif</string>
	<key>image/vnd.adobe.photoshop</key><string>psd</string>
	<key>image/vnd.djvu</key><string>djvu</string>
	<key>image/vnd.microsoft.icon</key><string>ico</string>
	<key>image/x-portable-anymap</key><string>pnm</string>
	<key>image/x-portable-bitmap</key><string>pbm</string>
	<key>image/x-portable-graymap</key><string>pgm</string>
	<key>image/x-portable-pixmap</key><string>ppm</string>
	<key>image/x-xbitmap</key><string>xbm</string>
	<key>image/x-xpixmap</key><string>xpm</string>
	<key>message/rfc822</key><string>eml</string>
	<key>model/vrml</key><string>vrml</string>
	<key>text/calendar</key><string>ics</string>
	<key>text/css</key><string>css</string>
	<key>text/csv</key><string>csv</string>
	<key>text/html</key><string>html</string>
	<key>text/javascript</key><string>js</string>
	<key>text/json</key><string>json</string>
	<key>text/plain</key><string>txt</string>
	<key>text/sgml</key><string>sgml</string>
	<key>text/troff</key><string>man</string>
	<key>text/x-asm</key><string>s</string>
	<key>text/x-c</key><string>c</string>
	<key>text/x-diff</key><string>diff</string>
	<key>text/x-fortran</key><string>f</string>
	<key>text/x-java-source</key><string>java</string>
	<key>text/x-pascal</key><string>p</string>
	<key>text/x-script.perl-module</key><string>pm</string>
	<key>text/x-script.perl</key><string>pl</string>
	<key>text/x-script.python</key><string>py</string>
	<key>text/x-script.ruby</key><string>rb</string>
	<key>text/x-vcalendar</key><string>vcs</string>
	<key>text/x-vcard</key><string>vcf</string>
	<key>text/yaml</key><string>yaml</string>
	<key>video/3gpp</key><string>3gp</string>
	<key>video/mp4</key><string>mp4</string>
	<key>video/mpeg</key><string>mpg</string>
	<key>video/quicktime</key><string>mov</string>
	<key>video/x-flv</key><string>flv</string>
	<key>video/x-mng</key><string>mng</string>
	<key>video/x-ms-asf</key><string>asf</string>
	<key>video/x-ms-wmv</key><string>wmv</string>
	<key>video/x-ms-wmx</key><string>wmx</string>
	<key>video/x-msvideo</key><string>avi</string>
</dict>
</plist>
